<h3>Lista de Heroes</h3>



<div *ngIf="deleteHero else nothingWasDelete">
  <h3>heroe borrado: <small class="text-danger">{{deleteHero}}</small></h3>
</div>

  <ng-template #nothingWasDelete>
    <h3 *ngIf="!deleteHero">No hay mas que borrar.</h3>
  </ng-template>


<button
*ngIf="heroNames.length > 0"
  (click)="removeLasHero()"
  class="btn btn-outline-danger">
  Borrar Ultimo Heroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
  class="list-group-item">{{name}}</li>
</ul>
